In [56]:
#import CSV

import pandas as pd
dr = pd.read_csv(r'C:\drucker.csv',encoding='cp1252')

#print the first few rows
dr.head()

,YEAR,RANKING,COMPANY,CUSTOMER SATISFACTION,EMPLOYEE ENGAGEMENT AND DEVELOPMENT,INNOVATION,SOCIAL RESPONSIBILITY,FINANCIAL STRENGTH,EFFECTIVENESS
0,2020,1,Microsoft Corp,62.1,74.1,114.7,78.9,90.9,103.0
1,2020,2,Apple Inc.,65.2,62.5,113.7,67.2,90.3,96.0
2,2020,3,Intl Business Machines Corp,84.2,57.6,127.1,68.4,56.6,95.7
3,2020,4,Amazon.com Inc,52.8,60.0,135.9,50.5,90.1,93.9
4,2020,5,Alphabet Inc C,54.0,72.9,89.8,68.0,84.2,86.4

In [57]:
#remove punctuation

df = pd.DataFrame(dr)

df["Unified_Name"] = df['COMPANY'].str.replace('[^\w\s]','')

df.head()

,YEAR,RANKING,COMPANY,CUSTOMER SATISFACTION,EMPLOYEE ENGAGEMENT AND DEVELOPMENT,INNOVATION,SOCIAL RESPONSIBILITY,FINANCIAL STRENGTH,EFFECTIVENESS,Unified_Name
0,2020,1,Microsoft Corp,62.1,74.1,114.7,78.9,90.9,103.0,Microsoft Corp
1,2020,2,Apple Inc.,65.2,62.5,113.7,67.2,90.3,96.0,Apple Inc
2,2020,3,Intl Business Machines Corp,84.2,57.6,127.1,68.4,56.6,95.7,Intl Business Machines Corp
3,2020,4,Amazon.com Inc,52.8,60.0,135.9,50.5,90.1,93.9,Amazoncom Inc
4,2020,5,Alphabet Inc C,54.0,72.9,89.8,68.0,84.2,86.4,Alphabet Inc C

In [58]:
#tokenize dataframe

import nltk
nltk.download('punkt')

from nltk import word_tokenize

df['Unified_Name'].apply(word_tokenize)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hkpu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

0                               [Microsoft, Corp]
1                                    [Apple, Inc]
2                [Intl, Business, Machines, Corp]
3                                [Amazoncom, Inc]
4                              [Alphabet, Inc, C]
                          ...
2945                            [Cabot, Oil, Gas]
2946                                [Murphy, Oil]
2947                      [NGL, Energy, Partners]
2948    [Valeant, Pharmaceuticals, International]
2949                        [Endo, International]
Name: Unified_Name, Length: 2950, dtype: object

In [59]:
#strip a list of words from dataframe

stopwords = ['Company','Corp','Inc','Co','Ltd','plc','PLC','Group','Grp','Holdings','A','B','C']

df['Unified_Name'] = df['Unified_Name'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))

In [60]:
#export dataframe to CSV

df.to_csv('drucker_new.csv')

In [61]:
#final output
dr.head()

,YEAR,RANKING,COMPANY,CUSTOMER SATISFACTION,EMPLOYEE ENGAGEMENT AND DEVELOPMENT,INNOVATION,SOCIAL RESPONSIBILITY,FINANCIAL STRENGTH,EFFECTIVENESS,Unified_Name
0,2020,1,Microsoft Corp,62.1,74.1,114.7,78.9,90.9,103.0,Microsoft
1,2020,2,Apple Inc.,65.2,62.5,113.7,67.2,90.3,96.0,Apple
2,2020,3,Intl Business Machines Corp,84.2,57.6,127.1,68.4,56.6,95.7,Intl Business Machines
3,2020,4,Amazon.com Inc,52.8,60.0,135.9,50.5,90.1,93.9,Amazoncom
4,2020,5,Alphabet Inc C,54.0,72.9,89.8,68.0,84.2,86.4,Alphabet